<div fxFlexFill fxLayout="row" fxLayoutAlign="center center" style="background: #ececec;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Email Confirmed!</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/login" align="center" mat-button color="primary" fxFlex="100">
                Go to Login page
                <mat-icon class="mat-18">arrow_right_alt</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>