<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Sign Up</h2>
    <p>Please enter your details</p>
    <label>
        Email
        <input type="text" placeholder="Email" formControlName="email" required>
    </label>
    <label>
        Name
        <input type="text" placeholder="Name" formControlName="name" required>
    </label>
    <label>
        Password
        <input type="password" placeholder="Password" formControlName="password" required>
    </label>
    <button>Register</button>
</form>
<div>
    Already registered? <a routerLink="/login">Login Here!</a>
</div>